<div class="container">
  <div class="row">
    <div class="<%= columns %>">
      <div class="navbar">
        <!-- Logo -->
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= render 'shared/logo' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

