<div class="container mb-5">
  <div class="row">
    <div class="<%= columns %> pt-5">
      <%= render 'pages/write' %>
    </div>
  </div>

  <div class="row">
    <div class="<%= columns %> pt-5">
      <%= render 'pages/feed' %>
    </div>
  </div>
</div>
